<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10, chrome=1" />
<link rel="shortcut icon" type="image/x-icon" th:href="@{/static/favicon.ico}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/alopexui-2.10.6/css/alopex-ui-default.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/alopexui-2.10.6/css/src/alopex-ext.css}"/>
<link rel="stylesheet" type="text/css" th:href= "@{/static/alopexui-2.10.6/script/src/webeditor/alopex-webeditor.css}"/>

<link rel="stylesheet" type="text/css" th:href= "@{/static/alopex-grid-3.11.18.min/alopex-grid.css}"/>

<!-- bxslider css -->
<link rel="stylesheet" type="text/css" th:href= "@{/static/css/jquery.bxslider.css}"/>

<!-- custom css -->
<link rel="stylesheet" type="text/css" th:href= "@{/static/css/spms-grid.css}"/>
<link rel="stylesheet" type="text/css" th:href= "@{/static/css/spms-ui.css}"/>
<link rel="stylesheet" type="text/css" th:href= "@{/static/css/spms-layout.css}"/>
<link rel="stylesheet" type="text/css" th:href= "@{/static/css/spms-main.css}"/>
<link rel="stylesheet" type="text/css" th:href= "@{/static/css/spms-dev.css}"/>
<link rel="stylesheet" type="text/css" th:href= "@{/static/css/element-ui.css}"/>

<!-- jquery core js -->
<script type="text/javascript" th:src="@{/static/js/lib/jquery/jquery-1.11.3.min.js}"></script>

<!-- vue core js -->
<script type="text/javascript" th:src="@{/static/js/lib/vue/vue.js}"></script>

<!-- vue element-ui js -->
<script type="text/javascript" th:src="@{/static/js/lib/element-ui/element-ui.js}"></script>

<!-- alopex ui js -->
<script type="text/javascript" th:src="@{/static/alopexui-2.10.6/script/alopex-ui.min.js}"></script>

<!-- alopex ui ext js -->
<script type="text/javascript" th:src="@{/static/alopexui-2.10.6/script/src/alopex-ext-setup.js}"></script>
<script type="text/javascript" th:src="@{/static/alopexui-2.10.6/script/src/alopex-ext.min.js}"></script>

<!-- alopex webeditor js -->
<script type="text/javascript" th:src="@{/static/alopexui-2.10.6/script/src/webeditor/alopex-webeditor-setup.js}"></script>
<script type="text/javascript" th:src="@{/static/alopexui-2.10.6/script/src/webeditor/alopex-webeditor.min.js}"></script>

<!-- alopex grid js -->
<script type="text/javascript" th:src="@{/static/alopex-grid-3.11.18.min/alopex-grid.min.js}"></script>
<script type="text/javascript" th:src="@{/static/alopex-grid-3.11.18.min/alopex-grid-excel.min.js}"></script>

<!-- jquery lib js -->
<script type="text/javascript" th:src="@{/static/js/lib/jquery.bxslider.js}"></script>

<!-- custom js -->
<script type="text/javascript" th:src="@{/static/js/app/custom-grid-config.js}"></script>
<script type="text/javascript" th:src="@{/static/js/app/custom-ui-config.js}"></script>
<script type="text/javascript" th:src="@{/static/js/app/common-util.js}"></script>
<script type="text/javascript" th:src="@{/static/js/app/common-vue-util.js}"></script>
